<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SingleDataSource" value="True" />
	</appSettings>

  <connectionStrings>
    <add name="StudentsConnectionString" connectionString="Data Source=.;Initial Catalog=Facultate;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>